@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.main{
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items:  center;
  font-family: 'Oswald', sans-serif;
}


.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../public/background.jpg);
  height: 100vh;
  width: 100vw;
  font-family: 'Oswald', sans-serif;
}

.wrapper {
  padding: 25px;
  border: 0.1px solid rgb(96, 96, 96); 
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  background: rgba(219, 216, 216, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.app__image {
  margin: 24px;
  max-height: 500px;
  width: auto;
  border-radius: 10px;
}

.input-submit {
  background: transparent;
  color: #0000009d;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
  border:transparent;
}
.input-text {
  font-size: 1rem;
  font-weight: 400;
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  border-radius: calc(0.5 * 100px);
  border: transparent;
  background: transparent;
}

::placeholder{
  color: #2e2e2e;
}

:focus-visible{
  outline: none;
}

.form-container {
  width: 50%;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.9);
  justify-content: space-evenly;
  background-color: rgba(240, 248, 255, 0.6);
  padding-left: 1em;
}
 
.spacer{
  width: 2em;
}
.table{
  margin-left: 1em;
  display: flex;
}

.app__data{
   padding-left: 1em;
}
.date {
  font-family: 'Oswald', sans-serif;
  padding-left: 1em;
}

.temp {
  margin: 5px;
  font-family: 'Oswald', sans-serif;
  color: #2e2e2e;
}
